:root {
  --ff: "Sora", sans-serif;
  --ff-logo: "Englebert", cursive;
  --h1: bold min(4rem, 12vw)/ 1em var(--ff);
  --h2: bold min(3rem, 9vw)/ 1em var(--ff);
  --h3: bold min(2.25rem, 6.75vw)/1.2em var(--ff);
  --h4: bold min(1.5rem, 4.5vw)/1.6em var(--ff);
  --p1: 1.25rem/1.6em var(--ff);
  --p2: 1rem/1.6em var(--ff);
  --p3: .75rem/2em var(--ff);

  --color-primary: #D37289;
  --color-secondary: #8399D9;
  --black-1: #1E1E1E;
  --black-2: #2D2D2D;
  --black-3: #383636;
  --white: #FFFFFF;
  --grey-light: #E5E5E5;
  --grey-dark: #646464;
  --color-error: #B3251E;

  --section-gap: 160px;

  --shadow: 
    inset 0 0 0.5px 1px hsla(0, 0%,100%, 0.075), 
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  --transition: 0.2s ease-in-out;

}

:root {
  --color-text: var(--black-1);
  --color-background: var(--white);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--ff);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
